@use "./partials/variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;
    margin: 20px 0px;

    .nav-logo img {
        height: 70px;
    }


    .list {
        display: flex;
        list-style: none;

    }

    .item {
        padding: 43px 10px;

    }

    li:hover {
        color: variables.$color-primary;
        border-bottom: 5px solid variables.$color-primary;
        cursor: pointer;
    }
}

.content {
    height: 100px;
    background-color: variables.$color-secondary;
    display: flex;
    align-items: center;


    h1 {
        color: variables.$color-white;
        width: 70%;
        margin: auto;

    }
}


.container-mid {
    background-color: variables.$color-primary;



    .container-items {
        width: 70%;
        margin: auto;
        display: flex;
        align-items: center;
    }

    .first-item {
        display: flex;
        align-items: center;
        width: 70%;
        margin: auto;
        padding: 40px 30px;
    }

    .first-item img {
        height: 60px;

    }

    h3 {
        margin-left: 20px;
        color: variables.$color-white;

    }
}


.container-footer {
    background-image: url(../assets/footer-bg.jpg);
    height: 500px;

}