@use "./partials/variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    margin-top: 30px;

    .list {
        display: flex;
        list-style: none;

    }

    .item {
        padding: 30px 10px;

    }




    li:hover {
        color: variables.$color-primary;
        border-bottom: 1px solid variables.$color-primary;
        cursor: pointer;
    }
}